<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .textColor {
            color: blue;
        }
    </style>
    <script src="../vue.esm-browser.js"></script>
</head>
<body>

<div id="app">
    <ul>
        <li v-for="(value,index) in data.number">
            index=>{{index}} : value=>{{value}}
        </li></ul>

    <hr>

        <ul>
            <li v-for="value in data.user">
                value=> {{ value }}
            </li>
        </ul>

        <ul>
            <li v-for="(value, key) in data.user">
                key=> {{ key }} : value=> {{ value }}
            </li>
        </ul>

    <hr>

    <ul>
        <li v-for="(value, key, index) in data.user">
            index=> {{ index }} : key=> {{ key }} : value=> {{ value }}
        </li>
    </ul>

    <hr>

    <ul>
        <!-- <template> 标签可以用来包装多个元素或者多行代码, 不会在页面中渲染  -->
        <template v-for="(value, key, index) in data.user">
            <li v-if="index == 1">
                index=> {{ index }} : key=> {{ key }} : value=> {{ value }}
            </li>
        </template>
    </ul>

    <hr>

    <ul>
        <!-- :key="value.id" 为 每个 li 元素设置一个唯一的 key 值 -->
        <li v-for="(value, index) in data.teacher" :title="value.name" :key="value.id">
            index=> {{ index }} : value.id=>{{ value.id }} value.name=>{{ value.name }} value.web=>{{ value.web }}
        </li>
    </ul>

</div>

<script type="module">
    import {createApp, reactive} from '../vue.esm-browser.js'
    createApp({
        setup(){

            const data = reactive({
                number: ["十", "十一", "十二"], //数组
                user: { //对象
                    name: "Luna",
                    gender: "女"
                },
                teacher: [ //包含两个对象的数组
                    { id: 100, name: "邓瑞", web: "www.baidu.com" },
                    { id: 101, name: "David", web: "www.baidu.com" }
                ]
            })

            return {
                data
            }
        }
    }).mount("#app")

</script>

</body>
</html>
